.login-popup-modal{
    background-color: black;
}

.login-popup-header{
    color: black;
}

.footer-container{
    width: 100%;
}

.signup-navlink-footnote{
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-action-buttons{
    display: flex;
    justify-content: flex-end;
}